body {
  max-width: 100%;
}

.wrapper {
  border: 1px solid blue;
  max-width: 1080px;
  margin: 0 auto;
}

/*Flex Container*/
.layout {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* Navbar */
.navbar {
  background-color: #32170b; 
}

.flex-wrap-nav {
  display: flex;
}

    /* NavBar Flex Item */
    .logo {
      width: ;
    }

    .searchbar {
      
    }

    .btn-category {
      
    }

    .space {
      flex-basis: 587px;
    }

.banner {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}

.content {

}

.footer {

}

.navbar,
.banner,
.content,
.footer {

}


